.mainBlock{
    height: 100vh;
    background-color: rosybrown;
}


.text{
    width: 300px;
    background-color: beige;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: beige;
}