.footerBlock{
    height: 200px;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.footerContacts{
    width: 250px;
    height: 50px;
    background-color: yellow;
}